/* *{
    margin: 0;
    box-sizing: border-box;
}  */

/* Top background and logo */
.head-img{
    background-image: url(../img/pattern.png);
    background-color: rgb(22, 165, 221);
    background-size: 400px;
    height: 100px;
    background-repeat: repeat-x;
}

.logo{
    height: 50px;
    margin-top: 40px;
    margin-left: 10px;
}

/* Title and imgs */
.under-title{
    color: gray;
}

strong{
    color: rgb(0, 153, 255);
}

#date{
    font-size: 12px;
}

.pht{
    margin-top: 20px;
}

.pht-descriprion{
    font-size: 12px;
}
/* paragraph */
.midle-p{
    background-color: yellow;
}
/* list */
ul{
    padding-left: 15px;
}
/* Table rows */
table{
    border-collapse: collapse;
}

th{
    color: white;
    background-color: rgb(0, 162, 255);
    height: 10px;
}

.tbl-color{
    background-color: rgba(107, 223, 243, 0.644);
}